<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.6.27413" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="15.6.27413" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Language.StandardClassification" version="15.6.27413" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.6.27413" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.6.27413" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.6.27413" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Threading" version="15.4.4" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net462" />
</packages>