<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.6.27740" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="15.6.27413" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Language" version="15.6.27740" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Language.StandardClassification" version="15.6.27740" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.7.7" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.17" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.6.27740" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.6.27740" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.6.27740" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.6.27740" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Threading" version="15.6.56" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.7.18" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.53" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net462" />
</packages>