<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.0.50420-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Text.Data" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Text.UI" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VSSDK.BuildTools" version="14.0.22823-RC-Updated" targetFramework="net45" userInstalled="true" />
</packages>