<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.24.1" targetFramework="net472" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.205" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="16.1.89" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Language" version="16.1.89" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="16.1.89" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="16.1.89" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI" version="16.1.89" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="16.0.102" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net472" />
  <package id="Nerdbank.Streams" version="2.1.37" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="StreamJsonRpc" version="2.0.167" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="4.6.0-preview3.19128.7" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.2" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview3.19128.7" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.6.0-preview3.19128.7" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview3.19128.7" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>